*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    background-color: rgb(174, 97, 97);
    height: 250px;
    width: 250px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    animation-name: rotateFace;
    animation-duration: 8s;
    animation-timing-function: linear;
}
.eyebrows{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
}
.brows{
    width: 30px;
    height: 10px;
    border: none;
    border-top: 1px solid #000;
    border-radius: 50%;
}
.eyes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}
.righteye{
    width: 30px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;   
    overflow: hidden;
}
.lefteye{
    width: 30px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;   
    overflow: hidden;
    animation-name: blink;
    animation-delay: 8s;
    animation-duration: 1s;
}
.black{
    background-color: #000;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 4px;
}
.nose{
    width: 7px;
    height: 55px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 auto;
}
.lips{
    border: none;
    border-bottom: 2px solid #000;
    width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    animation-name: smile;
    animation-delay: 9s;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes rotateFace{
    0%{transform: rotate(0); left: 0;}
    50%{transform: rotate(180deg); left: calc(100% - 250px); }
    100%{transform: rotate(0); left: 0;}
}
@keyframes blink{
    from{height: 0;}
    to{height: 50px;}
}
@keyframes smile{
    from{width: 0;}
    to{width: 70px;}
}